<!-- -*- mode: XML -*- -->
<!--
 This work is sponsored by the Department of the Air Force under Air Force
 Contract FA8721-05-C-0002. Opinions, interpretations, conclusions, and
 recommendations are those of the author and are not necessarily endorsed by
 the United States Government.
-->

<launch>
  <!-- launch script arguments -->
  <arg name="bag"/>
  <arg name="rate" default="1.0"/>
  <arg name="start" default="0.0"/>

  <!-- bag file player -->
  <param name="/use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="play" output="screen"
        args="$(arg bag) --start $(arg start) --rate $(arg rate) --clock --delay=10"/>
</launch>
