<!--
 This work is sponsored by the Department of the Air Force under Air Force
 Contract FA8721-05-C-0002. Opinions, interpretations, conclusions, and
 recommendations are those of the author and are not necessarily endorsed by
 the United States Government.
-->

<launch>
  <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node name="turtlesim_gamepad_control" pkg="turtlesim_gamepad_control"
        type="turtlesim_gamepad_control_node.py">
    <remap from="cmd_vel" to="turtle1/cmd_vel" />
  </node>
</launch>