<!-- -*- mode: XML -*- -->

<launch>
  <arg name="pwm_sysfs_dir" default="/sys/class/pwm/pwmchip0/pwm0" />
  <arg name="initial_enable" default="true" />
  <arg name="initial_invert_polarity" default="false" />
  <arg name="initial_period" default="5000000" />
  <arg name="initial_duty" default="0" />
  <node pkg="pwm_sysfs_driver" type="pwm_sysfs_driver_node" name="pwm_sysfs_driver_node">
    <param name="pwm_sysfs_dir" value="$(arg pwm_sysfs_dir)" />
    <param name="initial_enable" value="$(arg initial_enable)" />
    <param name="initial_invert_polarity" value="$(arg initial_invert_polarity)" />
    <param name="initial_period" value="$(arg initial_period)" />
    <param name="initial_duty" value="$(arg initial_duty)" />
  </node>
</launch>
