<!-- -*- mode: XML -*- -->
<!--
 This work is sponsored by the Department of the Air Force under Air Force
 Contract FA8721-05-C-0002. Opinions, interpretations, conclusions, and
 recommendations are those of the author and are not necessarily endorsed by
 the United States Government.
-->

<launch>
  <arg name="type" default="node" /> <!-- node or nodelet -->
  <arg name="manager" default="servo_driver_nodelet_manager" /> <!-- ignored if type=node -->
  <arg name="start_manager" default="true" /> <!-- ignored if type=node -->
  <arg name="pwm_sysfs_dir" default="/sys/class/pwm/pwmchip0/pwm0" />
  <arg name="update_rate" default="100" />
  <arg name="min_pulse_width" default="1" />
  <arg name="max_pulse_width" default="2" />
  <arg name="invert_polarity" default="false" />
  <arg name="initial_command" default="0" />
  <arg name="timeout" default="0.5" />
  <arg name="disable_on_timeout" default="false" />
  <arg name="timeout_command" default="0" />
  <arg name="disable_on_exit" default="true" />

  <include file="$(find pwm_sysfs_driver)/launch/includes/servo_driver_$(arg type).launch.xml">
    <arg name="manager" value="$(arg manager)" />
    <arg name="start_manager" value="$(arg start_manager)" />
    <arg name="pwm_sysfs_dir" value="$(arg pwm_sysfs_dir)" />
    <arg name="update_rate" value="$(arg update_rate)" />
    <arg name="min_pulse_width" value="$(arg min_pulse_width)" />
    <arg name="max_pulse_width" value="$(arg max_pulse_width)" />
    <arg name="invert_polarity" value="$(arg invert_polarity)" />
    <arg name="initial_command" value="$(arg initial_command)" />
    <arg name="timeout" value="$(arg timeout)" />
    <arg name="disable_on_timeout" value="$(arg disable_on_timeout)" />
    <arg name="timeout_command" value="$(arg timeout_command)" />
    <arg name="disable_on_exit" value="$(arg disable_on_exit)" />
  </include>
</launch>
